{% extends 'base.html.twig' %}

{% block title %}Stagiaires index{% endblock %}

{% block body %}
<h2 class="text-center mb-4 mt-4">Liste des stagiaires</h2>

    <table id="table" class="table table-sm table-striped table-bordered display responsive nowrap mb-3" style="width:100%">
        <thead>
            <tr class="bg-primary text-light">
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Formation</th>
                <th>Campus</th>
                <th>Promotion</th>
                <th>Actif</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for stagiaire in stagiaires %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ stagiaire.nom | upper }}</td>
                <td>{{ stagiaire.prenom }}</td>
                <td>{{ stagiaire.dateNaissance ? stagiaire.dateNaissance|date('d-m-Y') : '' }}</td>
                <td>{{ stagiaire.adresse }}</td>
                <td>{{ stagiaire.telephone }}</td>
                <td>{{ stagiaire.email }}</td>
                <td>{{ stagiaire.formation }}</td>
                <td>{{ stagiaire.campus }}</td>
                <td>{{ stagiaire.promotion }}</td>
                <td>{{ stagiaire.isActif ? 'OUI' : 'NON' }}</td>
                <td class="text-center">
                  <a class="btn btn-success" href="{{ path('prets_stagiaire', {'id': stagiaire.id}) }}">Voir prêts</a>
                </td>
            </tr>
            {% set i = i+1 %}
        {% else %}
            <tr>
                <td colspan="12">Pas de stagiaires pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
