{% extends 'base.html.twig' %}

{% block title %}Proprietaires{% endblock %}

{% block body %}
    <h1>Proprietaires</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ proprietaire.adresse }}</td>
            </tr>
            <tr>
                <th>Organisme</th>
                <td>{{ proprietaire.organisme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('proprietaires_index') }}">back to list</a>

    <a href="{{ path('proprietaires_edit', {'id': proprietaire.id}) }}">edit</a>

    {{ include('proprietaires/_delete_form.html.twig') }}
{% endblock %}
