{{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="">{{ form_label(form.stagiaire) }} {{ form_widget(form.stagiaire) }}</div>
            <div class="">
                <div class="">
                    <label class="" for="prets_articlesPretes">Articles pretes</label>
                    <select id="prets_articlesPretes" name="articles[]" class="form-control" multiple="multiple" required>
                        {% for art in artsPrets %}
                        <option selected value="{{ art.id }}">{{ art.nom }}</option>
                        {% endfor %}
                        {% for art in artsNew %}
                            <option value="{{ art.id }}">{{ art.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">{{ form_row(form.isReturned) }}</div>
                <div class="col">{{ form_row(form.validation) }}</div>
            </div>
        </div>
        <div class="col">
            <div class="">{{ form_label(form.commentaireDebut) }} {{ form_widget(form.commentaireDebut) }}</div>
            <div class="">{{ form_label(form.commentaireFin) }} {{ form_widget(form.commentaireFin) }}</div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="col-sm mb-2 btn btn-primary w-25">Modifier</button>
    </div>
{{ form_end(form) }}
